# Entornos virtuales
venv/
.env/
.venv/
env/
ENV/

# Archivos de configuración sensibles
*.env

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Archivos de tests
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# Archivos de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de distribución
build/
dist/
*.egg-info/
.eggs/

# Archivos temporales del sistema
.DS_Store
Thumbs.db
